body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.baslik {
  margin-right: 600px;
}

.link {
  margin: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
}

.ilk-kisim {
  display: flex;
  flex-direction: row;
}

.ikinci-kisim {
  display: flex;
  flex-direction: row;
}

.ucuncu-kisim {
  display: flex;
  flex-direction: row;
}

.foto1 {
  display: flex;
  flex-direction: column;
}
.resim-kismi {
  display: flex;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 200px;
}

.body img {
  width: 300px;
  height: 200px;
  margin: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.iletisim-yazi {
  color: red;
  font-size: 30px;
}

.enalt-yazi {
  display: flex;
  flex-direction: column;
}

.gri-cizgi {
  border: 1px solid gray;
  width: 100%;
  height: 1px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .body img {
    width: 400px;
    height: 250px;
  }
}
