body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(97, 97, 97);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.login-box {
  width: 500px;
  height: 300px;
  padding: 20px;
  background-color: #585555;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.resim-kismi {
  display: flex;
  width: 400px;
  height: 400px;
  position: absolute;
  top: -80px;
  left: 20px;
}

.resim-kismi img {
  width: 400px;
  height: 400px;
}

.login-box {
  background-color: rgb(82, 82, 81);
  border-radius: 20px;
  padding: 30px;
  width: 500px;
  height: 500px;
  box-shadow: black;
  text-align: center;
}

.login-box h1 {
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.error {
  color: red;
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.login-box input {
  margin-top: 20px;
  width: 250px;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
}

.login-box button {
  margin-top: 100px;
  width: 350px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  background-color: rgb(240, 55, 8);
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.text-kismi {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 50px;
  color: red;
}

.yazi1 {
  color: white;
}

.yazi2 {
  color: red;
  margin-left: 10px;
}

.gri-kisim {
  display: flex;
  background-color: rgb(49, 49, 49);
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  height: 20%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .login-box {
    background-color: aqua;
  }
}
